selenium
webdriver_manager
html2text
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-openai
langchain-core
rank_bm25
langchain-cohere
instructor
fastapi
uvicorn
ragas==0.1.21